.top {
    padding: 30px 0;
    text-align: center;
    background-color: red;
    margin: 0 30%;
}

.middle {
    padding: 30px 0;
    text-align: center;
    background-color: blue;
    margin: 0 20%;
}

.bottom {
    padding: 30px 0;
    text-align: center;
    background-color: green;
    margin: 0 15%;
}

.boxLeft {
    background-color: yellow;
    width: 200px;
    height: 200px;
    float: left;
    margin: 50px;
    margin-left: 15%;
}

.boxRight {
    background-color: yellow;
    width: 200px;
    height: 200px;
    float: right;
    
    margin: 50px;
    margin-right: 15%;
}